body {
  background-color: rgba(31, 34, 53, 1);
  background-size: auto;
}
h1{
  color:white;
}
.colourtext1{
  color: #ff4500;
}
h3{
  color: white;
}
.adress{
  list-style-type: strong; color:white;
}

